<template>
  <v-container fluid>
    <ul class="list-unstyled">
      <li v-for="item in items" v-bind:key="item.id">
        <p>{{ item.nombre }}</p>
        <p>{{ item.precing }}</p>
        <p>{{ item.description}}</p>
        <figure>
             {{item.image}} 
        </figure>

      </li>
    </ul>
  </v-container>
</template>

<script>
export default {
  props: {
    items: {
      type: Array
    }
  },
  data() {
    return {};
  }
};
</script>
