<template>
    <v-container fluid>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
					<div class="card-header">Crear tu tienda</div>
					<div class="card-body">
						<div class="form-row">
							<div class="col-md-6">
								<label>Nombre</label>
								<input type="text" class="form-control" v-model="nombre" >
							</div>
							<div class="col-md-6">
								<label>Descripcion</label>
								<input type="text" class="form-control" v-model="description" >
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-6">
								<label>Precio</label>
								<input type="text" class="form-control" v-model="precing" >
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-12">
								<img width="100%" height="100px"  :src="imagen"  alt="Imagen de la tienda">
								<input type="file" class="form-control" ref="file" v-on:change="onUploadImage()" >
							</div>
						</div>
						<button type="button" class="btn btn-primary" v-on:click="sendNetwordCreateProduct()">Guardar</button>
					</div>
       			</div>
            </div>
		</div>
	</v-container>  
</template>



<script>
  export default {
    data(){
      return {
		nombre:'',
		description:'',
		precing:'',
		picFile:null,
		vistaPrevia:'',

      }
    },
	mounted() {
		
	},
	methods:{
		onUploadImage(){
			let load = this.$refs.file.files[0];
		    this.picFile = this.$refs.file.files[0];
		   	this.loadImagenes(load);
		},
		
		loadImagenes(load){
			let reader = new FileReader();
			
			reader.onload = (e) => {
				this.vistaPrevia = event.target.result;
			}
			reader.readAsDataURL(load);
		},
		
		sendNetwordCreateProduct(){

            if (this.nombre=="") {
              alert("Completa el campo de nombre ")
            }
			else if (this.description=="") {
			  alert("Completa el campo de description")
			}
            else if (this.precing=="") {
              alert("Completa el campo precing")
            }
            else {

            const formData = new FormData()
				formData.append('nombre',this.nombre)
				formData.append('description',this.description)
				formData.append('precing',this.precing)
				formData.append('image',this.picFile)
             
            axios.post("item-create",formData).then(response => {
              	nombre: this.nombre = '';
                description: this.description = '';
                precing: this.precing = '';
              })
              
            } 
		},
		
	},
	computed: {
        imagen(){
            return this.vistaPrevia;
        }
    }
  }
</script>